a:hover {
  color: orange !important;
}


#hero-section {
  background-image: url("./images/building.png");
  /* position: relative; */
  min-height: 60vh;
  background-size: 100vw;
  background-repeat: no-repeat;
}

.hero-right {
  background: #3559c7;
  /* margin-left: 7rem; */
}


.about-right {
  background-color: #2947a9;
  height: 30rem;
}

.button {
  position: absolute;
  color: #2947a9;
  background-color: #ffffff;
}

.color-background {
    background-color: #2947a9;
  }
  
  .white-background {
    background-color: #ffffff;
    color: #2947a9;
   
  }

  .years {
    color: #2947a9;
  }
.our-company {
    color: #525b7a;
}
.experience-contact {
    background: #2947a9;
}
.projectImage84 {
    box-shadow: 0px 8.78079px 11.7077px -2.92693px rgba(17, 24, 39, 0.1),
      0px 2.92693px 4.39039px -1.46346px rgba(17, 24, 39, 0.05);
  }

  .projectImage123 {
    box-shadow: 0px 8.78079px 11.7077px -2.92693px rgba(17, 24, 39, 0.1),
      0px 2.92693px 4.39039px -1.46346px rgba(17, 24, 39, 0.05);
  }

  .projectImage37 {
    box-shadow: 0px 8.78079px 11.7077px -2.92693px rgba(17, 24, 39, 0.1),
      0px 2.92693px 4.39039px -1.46346px rgba(17, 24, 39, 0.05);
  }

  .projectImage30 {
    box-shadow: 0px 8.78079px 11.7077px -2.92693px rgba(17, 24, 39, 0.1),
      0px 2.92693px 4.39039px -1.46346px rgba(17, 24, 39, 0.05);
  }


  .consultation {
    background-image: url("../images/kitchen.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .consult-right {
    background: transparent;
    border: 2px solid white;
  }
  .consultation {
    margin-top: 5rem;
  }

  .right-top p {
    background-color: #2947A9;
   }
   .right-middle p {
    background-color: #2947A9;
   }
   .form-button {
    background-color: #2947a9;
    margin-left: 5rem;
  }


@media (min-width: 768px) {
  #hero-section {
    min-height: 47vh;
  }

  .service {
    width: 30%;
  }

  .team {
    width: 30%;
  }

  .design {
    width: 30%;
  }

  .about-left {
    width: 100%;

  }

  .about-right {
    background-color: #2947a9;
    height: 25rem;
    width: 70%;
    margin-left: 20rem;
  }

  .projectImage84 {
    /* background-color: crimson; */
    height: 10rem;
    width: 12rem;
    position: absolute;
    z-index: 4;
    left: 15rem;
    margin-top: 2rem;
  }

  .projectImage123 {
    position: absolute;
    z-index: 3;
    height: 10rem;
    width: 12rem;
    left: 6rem;
    margin-top: 9rem;
  }

  .projectImage37 {
    position: absolute;
    z-index: 2;
    height: 10rem;
    width: 12rem;
    left: 15rem;
    margin-top: 16rem;
  }

  .projectImage30 {
    position: absolute;
    z-index: 1;
    height: 10rem;
    width: 12rem;
    left: 6rem;
    margin-top: 23rem;
  }
  .image84 {
    margin-left: 8rem;
  }
  .image123 {
    margin-left: -2rem;
  }
  .image37 {
    margin-left: 6rem;
  }
  .image30 {
    position: absolute;
    margin-top: 6rem;
    margin-left: 9rem;
  }
  .rightExperienceFullText {
    margin-top: 10rem;
  }

  .consultation {
    margin-top: 13rem ;
    height: 10rem;
  }
  .consult-left {
    margin-top: 3rem ;
  }
.consult-right {
    margin-top: 5rem ;
}
}







@media (min-width: 992px) {
  #hero-section {
    min-height: 60vh;
  }
  .hero-left {
    margin-left: 8rem;
  }

  .about-left {
    position: relative !important;
    width: 80vw;
  }

  .about-right {
    position: absolute;
    height: 25rem;
    width: 40%;
    top: 64rem; 
    left: 35rem;
  }
}

@media (min-width: 1440px) {
    
    .about-right {
        height: 30rem;
        width: 40%;
        top: 77rem; 
        left: 45rem;
      }

}
